body {
    font-family: Tahoma;
    background-color: rgb(17, 16, 16); 
    color: rgb(193, 193, 193);
    }
    
    img {
    height: auto;
    width: 25rem;
    max-width: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    }
    
    li  {
    padding-bottom: 6px;
    }
    
    h1 {
    text-align: center;
    color: rgb(164, 164, 164);
    }
    
    .img-caption {
    font-size: 13px;
    }
    
    .bold {
    font-weight: 800;
    }
    
    p {
    
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-align: justify;
    color: rgb(164, 164, 164);
    }
    
    h1 , p {
     
        padding: 10px; 
        border-radius: 5px; 
        width: fit-content; 
        margin: 10px auto; 
    }